[submodule "217"]
	path = 217
	url = git@github.com:stxacy/217-boston-road.git
	branch = master

[submodule "brown-betty"]
	path = brown-betty
	url = git@github.com:stxacy/brown-betty.git
	branch = main

[submodule "crs-automotive"]
	path = crs-automotive
	url = git@github.com:stxacy/crs-automotive.git
	branch = main

[submodule "crtz"]
	path = crtz
	url = git@github.com:stxacy/crtz.git
	branch = main

[submodule "deforestation"]
	path = deforestation
	url = git@github.com:stxacy/roots-and-ruin.git
	branch = master

[submodule "f1-racing"]
	path = f1-racing
	url = git@github.com:stxacy/crest-racing.git
	branch = main

[submodule "greyspace-uk"]
	path = greyspace-uk
	url = git@github.com:stxacy/greyspace-uk.git
	branch = master

[submodule "kingscote-haulage"]
	path = kingscote-haulage
	url = git@github.com:stxacy/kingscote-haulage.git
	branch = main

[submodule "portfolio"]
	path = portfolio
	url = git@github.com:stxacy/stxacy.github.io.git
	branch = main

[submodule "subspace-birmingham"]
	path = subspace-birmingham
	url = git@github.com:stxacy/subspace-birmingham.git
	branch = main

[submodule "surf-coast-suns"]
	path = surf-coast-suns
	url = git@github.com:stxacy/SCCC.git
	branch = main

[submodule "interior-design"]
	path = interior-design
	url = git@github.com:stxacy/volm-studio.git
	branch = main
